/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    line-height: 1.5;
    letter-spacing: 1.25px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #fefefe;
    text-shadow: 0px 0px 20px #242424;
}
img, picture, video, canvas, svg {
    width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* TYPOGRAPH  */

h2 {
    font-size: 5rem;
}

#crypto h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

.city {
    font-weight: bold;
    font-size: 2.5rem;
}

.temp {
    font-size: 2rem;
}

/* LAYOUT */

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em 1em;
    /* background: rgba(0,0,0,0.3); */
}

#top-container {
    display: flex;
    justify-content: space-between;
}

#middle-container {
    display: flex;
    justify-content: center;
}

#weather {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.weather-icon-container {
    width: 35%;
}

.city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -20px;
}

#crypto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 1em;
}



